.bottom-header-wrapper IMG {
  display: none;
}
.site-content {
  background-color: white;
  padding-bottom: 20px;
}
.site {
  background-color: white;
}
.elementor-2 .elementor-element.elementor-element-8398deb > .elementor-container {
  margin-bottom: 20px;
}
.logofont {
  font-style: italic;
  font-weight: bold;
  font-size: 200%;
}
.elementor H4 {
  color: #000000;
  font-size: 150%;
}
#circle {
  border-color: #000000;
}
.elementor H6 {
  font-style: bold;
  color: #0000ff;
  font-size: 100%;
  border-color: #0c1020;
  letter-spacing: 0;
  text-decoration: none;
  text-transform: capitalize;
}
.elementor BUTTON {
  background-color: #23baba !important;
  filter: opacity(1) saturate(1);
}
.elementor-2 .elementor-element.elementor-element-8e3078a:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap {
  border-style: solid;
  border-width: 0px;
  border-radius: 40px;
}
.elementor .elementor-element-60aa29f .elementor-icon-list-items .elementor-icon-list-icon i {
  color: grey;
  padding-top: 0;
}
.elementor-column-gap-default > .elementor-row > .elementor-column > .elementor-element-populated {
  border-radius: px;
  padding: 0px;
  border-style: none;
  padding-left: 15px;
}
.elementor-2 .elementor-element.elementor-element-0d89a39 .elementor-accordion-title {
  color: #000000 !important;
  text-align: left;
  text-decoration: none;
  font-weight: 900;
  text-transform: none;
}
.elementor .elementor-element-376bd83 .elementor-accordion .elementor-tab-title.elementor-active .elementor-accordion-icon i {
  color: black;
}
.elementor-accordion .elementor-tab-title .elementor-accordion-icon .elementor-accordion-icon-closed {
  color: black;
}
.elementor P {
  color: black;
  font-weight: 600;
  text-transform: none;
  text-align: center;
}
.elementor .elementor-element-fa869b9 .elementor-widget-wrap {
  background-color: #77aa77;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2377aa77'/%3E%3Cstop offset='1' stop-color='%234fd'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E") !important;
  background-attachment: fixed;
  background-size: cover;
}
.elementor .elementor-element-fa869b9 .elementor-image img {
  padding: 18px;
}
.elementor .elementor-element-60aa29f .elementor-icon-list-items .elementor-icon-list-text {
  border-style: solid;
  border-width: 0px;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: grey;
  padding: px;
  font-weight: 800;
}
@media screen and (max-width: 768px) {
  .elementor .elementor-element-60aa29f .elementor-icon-list-items .elementor-icon-list-text {
    padding-top: 0px;
  }
  .elementor .elementor-element-60aa29f .elementor-icon-list-items .elementor-icon-list-icon i {
    padding-top: 0;
  }
}
.elementor .elementor-element-60aa29f .elementor-column-wrap .elementor-column-wrap {
  line-height: 350%;
}
.elementor FORM {
  background-color: #bcec98;
  border-radius: 45px;
  padding-top: 1%;
  padding-bottom: 1%;
}
#wpcf7-f366-p363-o1 input[type=text] {
  border-radius: 5px;
  width: 75%;
}
#wpcf7-f366-p363-o1 input[type=email] {
  border-radius: 5px;
  width: 75%;
}
#wpcf7-f366-p363-o1 input[type=tel] {
  border-radius: 5px;
  width: 75%;
}
.elementor SELECT {
  border-radius: 5px;
  width: 50%;
  text-align: center;
}
.elementor .elementor-element-2903cb9 input[type=submit] {
  width: 30%;
  padding-left: 0;
  padding-right: 0;
}
